.anadir {
  background: white;
  border: 0;
  height: 48px;
  border-radius: 2px;
  display: flex;
  width: 305px;
  align-items: center;
  text-align: center;
}
.noborde{
    border:0;
}
.anadir:hover{
    background:#F7F7F7;
}
